---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3> Hello Internet! Welcome to FIREBLAST</h1>
			<p>
				Welcome to the official FIREBLAST website. This
				site will be a collection of my contet, projects, and more.
			</p>
			<p>
				If you want to see more of my content, check out my youtube @FIREBLAST7717
			</p>
			<p>Here are a couple different projects I will be working on this year
			<ul>
				<li>Rumble vr and other vr content <code>cause why not </code></li>
				<li>Car content <code>2004 Honda Accord Ex V6</code></li>
				<li>Flipping and parkour <code>Everything from backflips to how to fall</code></li>
				<li>Speedrunning videogames <code>Super Mario Odyssey exc </code></li>
				<li>Choir and barbershop music <code>Email me some song suggestions</code></li>
			</ul>
			<p>
				I hope you stay along for the journey, and follow the sidequest with us
			</p>
			<p>
				Email me @ fireblast@fireblast.org
			</p>
		</main>
		<Footer />
	</body>
</html>
